<div class="container">
  <div class="login_logo">
    <img src="/assets/img/xxx.png" /><a>StockMarket</a>
  </div>
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <!-- 用户名登录 -->
  <div id="nForm" class="formbox">
    <form class="form" id="f2" method="post">
      <p class="inp">
        <input
          class="f-u"
          name="username"
          [(ngModel)]="username"
          placeholder="请输入用户名"
          type="text"
          readonly
          onfocus="this.removeAttribute('readonly');"
          (keyup.enter)="login()"
        />
      </p>
      <p class="inp">
        <input
          class="f-p"
          name="password"
          [(ngModel)]="password"
          placeholder="密码"
          type="password"
          readonly
          onfocus="this.removeAttribute('readonly');"
          (keyup.enter)="login()"
        />
      </p>
      <p class="inp2">
        <a class="unit-reg" routerLink="../register">注册</a>
        <input (click)="login()" type="button" value="登录" id="nLogin" />
      </p>
    </form>
  </div>
</div>
