<div class="div-signin">
  <form
    class="form-signin"
    #myForm="ngForm"
    (ngSubmit)="onSubmit(myForm.value)"
    novalidate
  >
    <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{
        alert.message
      }}</ngb-alert>
    </p>
    <label for="inputUserName" class="sr-only">User Name</label>
    <input
      ngModel
      name="userName"
      id="inputUserName"
      class="form-control"
      placeholder="UserName"
      type="text"
    />

    <label for="inputPassword" class="sr-only">Password</label>
    <input
      ngModel
      name="password"
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
    />

    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember Me </label>
    </div>
    <div class="checkbox mb-3">
      <button type="submit" class="btn btn-primary sBtn">
        Sign in
      </button>
      <button type="button" class="btn btn-secondary btn-success" [routerLink]="[ '/user/register' ]">
        Sign up
      </button>
    </div>
  </form>
</div>
