<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="sign-tab">
      <span id="nBtn" class="on">sign up</span>
    </div>

    <div id='nForm' class="formbox">
      <form class="form" id="f2"   method="post">
        <p class="inp">
          <input  name="userName" [(ngModel)]="tUser.userName"  placeholder="user id"
                  type="text" readonly onfocus="this.removeAttribute('readonly');">
        </p>
        <p class="inp">
          <input  name="realName" [(ngModel)]="tUser.realName"  placeholder="real name"
                  type="text" readonly onfocus="this.removeAttribute('readonly');">
        </p>
        <p class="inp">
          <input  name="email" [(ngModel)]="tUser.email"  placeholder="mail"
                  type="text" readonly onfocus="this.removeAttribute('readonly');">
        </p>
        <p class="inp">
          <input  name="phone" [(ngModel)]="tUser.mobileNum"  placeholder="mobile number"
                  type="text" readonly onfocus="this.removeAttribute('readonly');">
        </p>
        <p class="inp">
          <input name="password" [(ngModel)]="tUser.password" placeholder="password"
                 type="password" readonly onfocus="this.removeAttribute('readonly');">
        </p>

        <p class="inp2">
          <button type="button" class="btn btn-default" (click)="goBack()">back</button>
          <input (click)="register()" type="button" value="sign" id="nLogin">
        </p>
      </form>
    </div>
  </div>

</div>
